################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DapperDemo/FileContentIndex/f3f2659d-250c-4260-9dc6-5d9d535901f9.vsidx
